.controls {
  width: 100%;
}

.control {
  display: flex;
  flex-direction: column;
}

.control label {
  align-self: flex-start;
}

.control input {
  border: 0;
  border-bottom: 1px solid lightgray;
  height: 2.5em;
  margin-bottom: 1em;
  outline: none;
}
