.btn {
  display: inline-block;
  margin: auto;
  border: none;
  padding: 0.7em 1.5em;
  background-color: #1db3d0;
  color: #fff;
  font-family: inherit;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 1em;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.backBtn {
  background-color: #ffffff;
  color: black;
}
